<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.mind.mapper.MindMessageInboxMapper">

    <resultMap type="MindMessageInbox" id="MindMessageInboxResult">
        <result property="messageId"    column="message_id"    />
        <result property="senderId"    column="sender_id"    />
        <result property="recipientId"    column="recipient_id"    />
        <result property="messageContent"    column="message_content"    />
        <result property="reply"    column="reply"    />
        <result property="anonymous"    column="anonymous"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMindMessageInboxVo">
        select message_id, sender_id, recipient_id, message_content, reply, anonymous, create_by, create_time, update_by, update_time from mind_message_inbox
    </sql>

    <select id="selectMindMessageInboxList" parameterType="MindMessageInbox" resultMap="MindMessageInboxResult">
        <include refid="selectMindMessageInboxVo"/>
        <where>
            <if test="senderId != null and senderId > 0"> and sender_id = #{senderId}</if>
            <if test="recipientId != null and recipientId > 0"> and recipient_id = #{recipientId}</if>
        </where>
    </select>

    <select id="selectMindMessageInboxByMessageId" parameterType="Long" resultMap="MindMessageInboxResult">
        <include refid="selectMindMessageInboxVo"/>
        where message_id = #{messageId}
    </select>

    <insert id="insertMindMessageInbox" parameterType="MindMessageInbox" useGeneratedKeys="true" keyProperty="messageId">
        insert into mind_message_inbox
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="senderId != null">sender_id,</if>
            <if test="recipientId != null">recipient_id,</if>
            <if test="messageContent != null and messageContent != ''">message_content,</if>
            <if test="reply != null">reply,</if>
            <if test="anonymous != null">anonymous,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="senderId != null">#{senderId},</if>
            <if test="recipientId != null">#{recipientId},</if>
            <if test="messageContent != null and messageContent != ''">#{messageContent},</if>
            <if test="reply != null">#{reply},</if>
            <if test="anonymous != null">#{anonymous},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMindMessageInbox" parameterType="MindMessageInbox">
        update mind_message_inbox
        <trim prefix="SET" suffixOverrides=",">
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="recipientId != null">recipient_id = #{recipientId},</if>
            <if test="messageContent != null and messageContent != ''">message_content = #{messageContent},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="anonymous != null">anonymous = #{anonymous},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <delete id="deleteMindMessageInboxByMessageId" parameterType="Long">
        delete from mind_message_inbox where message_id = #{messageId}
    </delete>

    <delete id="deleteMindMessageInboxByMessageIds" parameterType="String">
        delete from mind_message_inbox where message_id in
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper>
